terraform/modules/compute_instance/.terraform/providers/registry.terraform.io/hashicorp/google/4.31.0/darwin_amd64/terraform-provider-google_v4.31.0_x5
terraform/dev-vpc/terraform.tfstate.backup
terraform/dev-vpc/terraform.tfstate
terraform/dev-vpc/.terraform.lock.hcl
terraform/dev-vpc/.terraform
terraform/build-vpc/terraform.tfstate.backup
terraform/build-vpc/terraform.tfstate
terraform/build-vpc/.terraform.lock.hcl
terraform/build-vpc/.terraform
ansible/roles/app/vars/main.yml
ansible/roles/jenkins-agent/vars/main.yml
ansible/roles/jenkins-agent/files/app-deploy.tar
ansible/roles/app/vars/main.yml
ansible/inventory
ansible/.ssh
ansible/ansible.cfg
.DS_Store
